{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit {{ master["master_type"]|capitalize }} Master: {{ master['name'] }}{% endblock %}</h1>
<p><b>Created:</b> {{ master["created"].strftime("%d.%m.%Y") }}</p>
{% endblock %}
	
{% block main %}
<form method="post">
	<label for="name">Name
		<input id="name" name="name" value="{{ request.form['name'] or master['name'] }}" autofocus required>
	</label>
	<label for="description">Description
		<textarea id="description" name="description">{{ request.form['description'] or master['description'] }}</textarea>
	</label>
	{% if master["master_type"] == "agent" %}
	<label for="model">Model
		<select name="model" id="model" required autofocus>
			<option value="gpt-4.1-mini">ChatGPT 4.1 mini</option>
			<option value="gpt-4.1">ChatGPT 4.1</option>
			<option value="claude-3-5-haiku-latest">Claude Haiku 3.5</option>
			<option value="claude-3-7-sonnet-latest">Claude Sonnet 3.7</option>
			<option value="gemini-2.0-flash">Gemini 2.0 Flash</option>
			<option value="gemini-2.0-flash-lite">Gemini 2.0 Flash-Lite</option>
			<option value="gemini-1.5-flash">Gemini 1.5 Flash</option>
			<option value="gemini-1.5-flash-8b">Gemini 1.5 Flash-8B</option>
			<option value="gemini-1.5-pro">Gemini 1.5 Pro</option>
		</select>
	</label>
	<label for="role">Role
		<input id="role" name="role" value="{{ request.form['role'] or master['role'] }}" autofocus required>
	</label>
	<label for="instructions">Instructions
		<textarea id="instructions" name="instructions" required>{{ request.form['instructions'] or master['instructions'] }}</textarea>
	</label>
	{% endif %}
	<input type="submit" value="Save">
</form>
<hr>
<form method="post" action="{{ url_for('masters.delete', master_id=master['id']) }}">
	<input type="submit" value="Delete">
</form>
{% if master["master_type"] == "agent" %}
<script>
	const opts = document.querySelectorAll('#model option');
	opts.forEach((opt) => { if (opt.value === "{{ request.form['model'] or master['model'] }}") opt.selected = true;});
</script>
{% endif %}
{% endblock %}
