{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Masters{% endblock %}</h1>
{% endblock %}
{% block main %}
<div class="masters-overview">
	<section id="list-masters">
		<h2>List Masters</h2>
		{% if list_masters|length == 0 %}
		<p>Empty</p>
		{% endif %}
		<p><a href="{{ url_for('masters.new', master_type="list") }}">New List Master</a></p>
		{% for list_master in list_masters %}
		<article>
			<h3>{{ list_master['name'] }}</h3>
			<p>{{ list_master['description'] }}</p>
			<p><b>Created: </b>{{ list_master['created'].strftime('%d.%m.%Y') }} | <a href="{{ url_for('masters.view', master_id=list_master['id']) }}">View</a> | <a href="{{ url_for('masters.edit', master_id=list_master['id']) }}">Edit</a></p>
			{% if not loop.last %}
			<hr>
			{% endif %}
		</article>
		{% endfor %}
	</section>
	<section id="agent-masters">
		<h2>Agent Masters</h2>
		{% if agent_masters|length == 0 %}
		<p>Empty</p>
		{% endif %}
		<p><a href="{{ url_for('masters.new', master_type="agent") }}">New Agent Master</a></p>
		{% for agent_master in agent_masters %}
		<article>
			<h3>{{ agent_master['name'] }}</h3>
			<p>{{ agent_master['description'] }}</p>
			<p><b>Created: </b>{{ agent_master['created'].strftime('%d.%m.%Y') }} | <a href="{{ url_for('masters.view', master_id=agent_master['id']) }}">View</a> | <a href="{{ url_for('masters.edit', master_id=agent_master['id']) }}">Edit</a></p>
			{% if not loop.last %}
			<hr>
			{% endif %}
		</article>
		{% endfor %}
	</section>
</div>
{% endblock %}
